.container {
  height: 1000px;
  background: rgb(40, 67, 88);
}
.All {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 150px 200px;
  height: 670px;
}
.Overlay {
  color: white;
  text-decoration-style: none;

  font-size: 23px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
  color: white;
}
.All2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 150px 100px;
  height: 670px;
}

.container2 {
  display: flex;
  background: rgb(40, 67, 88);
  text-decoration: none;
  height: 1300px;
}
.Bar {
  margin: 150px 0px;
  text-decoration: none;
  background: rgba(237, 179, 245, 0.507);
  height: 0px;
  width: 500px;
  transition: 100ms;
  font-size: 30px;
  text-decoration: none;
  -webkit-transition: 2s ease-out;
  -moz-transition: 2s ease-out;
  -o-transition: 2s ease-out;
  transition: 2s ease-out;
}
.zero {
  border-radius: 10%;
}
.first {
  border-radius: 10%;
}
.Bar:hover {
  transition: 1000ms;
  margin: 150px 0px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  background: rgb(255, 126, 117);
  height: 622px;
  width: 500px;
}

.Name-box {
  height: 80px;
}
.Name-box:hover {
  color: rgb(68, 60, 50);
  background: rgb(86, 127, 204);
  height: 80px;
  border-radius: 10%;
  padding: 0px 5px;
  transition: 800ms;
}

.title-name {
  color: white;
}
.One-pic {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 150px 200px;
  height: 670px;
}
.picture3 {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(40, 67, 88);
  height: 800px;
}
.bigphoto {
  border-radius: 10%;
  width: 600px;
  height: 600px;
}
.arrow1 {
  display: flex;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: white;
  text-decoration: none;
  font-size: 50px;
  font-family: sans-serif;
  -webkit-transition: 2s ease-out;
  -moz-transition: 2s ease-out;
  -o-transition: 2s ease-out;
  transition: 2s ease-out;
}
.arrow1:hover {
  transition: 1s;
  background: rgba(100, 148, 237, 0.548);
  color: rgb(85, 62, 14);
}
.arrow2 {
  left: 0;
  top: 0;
  position: absolute;
  display: flex;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: white;
  text-decoration: none;
  font-size: 50px;
  font-family: sans-serif;
  -webkit-transition: 2s ease-out;
  -moz-transition: 2s ease-out;
  -o-transition: 2s ease-out;
  transition: 2s ease-out;
}
.arrow2:hover {
  transition: 1s;
  background: rgba(100, 148, 237, 0.548);
  color: rgb(85, 62, 14);
}
.nono {
  color: white;
  font-size: 35px;
  left: 24.5%;
  position: absolute;
}
.Channge-a {
  bottom: 20px;
  left: 685px;
  position: absolute;
  display: flex;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: white;
  text-decoration: none;
  font-size: 50px;
  font-family: sans-serif;
  -webkit-transition: 2s ease-out;
  -moz-transition: 2s ease-out;
  -o-transition: 2s ease-out;
  transition: 2s ease-out;
}
